.App {
  text-align: center;
}

 /*makes the login and sign up buttons light up*/
.Login:hover,.Sign:hover {
  color: #21a1f1;
  background-color: lightskyblue;
}
/* makes easy hard and home page buttons light up*/
.home:hover,.easy:hover,.hard:hover{
  color: #21a1f1;
  background-color: lightskyblue;
}
/* for the home easy and hard buttons styling */
.home,.easy,.hard{
  background-color: lightblue;
  width:50%;
  color: black;
  padding:15px;
  text-align: center;  
  font-size: 32px;
  border:none;
}

/*login and signin buttons styling*/
.Login,.Sign {
  background-color: lightblue;
  border-radius: 2px;
  border: black;
  padding: left 20px;
  inline-size: 20%;
  color: gray;
  margin-right:20px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}
/*This makes the text for the login and the buttons go down the page slightly*/
.Body{
  margin-top:15%;
}
/*this is for the digital dj title and background styling*/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: Top;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
